body {
	margin: 0px;
	color: grey;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
}

form {
	margin-top: 0px;
}

.background-image {
	position: absolute;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: -2;
	border: 2px solid grey;
}

#container {
	width: 100%;
	color: white;
}

#container-bot {
	padding: 30px;
	color: white;
}

.cleverscriptform {
	position: relative;
	width: 50%;
	font-size: 20px;
}

.cleverscriptinput {
	position: relative;
	margin-top: 0px;
	height: 30px;
	font-size: 16px;
	border: 5px solid grey;
	border-radius: 20px;
}

.cleverscriptreply {
	float: right;
	width: 50%;
	text-align: right;
	overflow: auto;
	padding-right: 25px;
	box-sizing: border-box;
}

#bottom-tool {
	position: relative;
	top: 700px;
	text-align: center;
	width: 100%;
}

#video {
	margin-top: 200px;
	margin-left: 85px;
	display: inline-block;
	position: relative;
	border: 4px solid white;
	border-radius: 20px;

}

.thumbnails {
	height: 120px;
	width: auto;
	margin: 20px;
	border: 2px solid white;
	border-radius: 20px;
}

#bottom-tool a {
	text-align: center;
	color: white;
}

/*tablet size*/
@media (max-width: 1024px) {
	
	h1 {
		font-size: 30px;
	}

	.background-image {
		width: auto;
		height: auto;
	}

	.cleverscriptform {
		position: absolute;
		top: 110px;
		width: 100%;
		text-align: center;
	}

	.cleverscriptinput {
		position: relative;
		margin-top: 0px;
		height: 30px;
		font-size: 16px;
		border: 2px solid grey;
	}

	.cleverscriptreply {
		position: absolute;
		top: 170px;
		width: 100%;
		text-align: center;
	}

	#container-bot {
		padding: 0px;
		margin-left: 10px;
	}

	#video {
		display: inline-block;
		position: relative;
		width: 100%;
		border: none;
		margin-top: 500px;
	}

	.thumbnails {
		width: auto;
		padding: 15px;
	}
}

/*phone size*/
@media (max-width: 600px) {
	
	body {
		width: auto;
		margin: 0px;
		padding: 0px;
	}

	h1 {
		padding: 0px;
		margin: 0px;
		font-size: 24px;
		text-align: center;
	}

	.background-image {
		width: auto;
		height: auto;
	}

	.cleverscriptform {
		position: absolute;
		top: 110px;
		width: 100%;
		text-align: center;
	}

	.cleverscriptinput {
		position: relative;
		margin-top: 0px;
		height: 30px;
		font-size: 16px;
		border: 2px solid grey;
	}

	.cleverscriptreply {
		position: absolute;
		top: 170px;
		width: 100%;
		text-align: center;
	}

	#container-bot {
		padding: 0px;
		margin-left: 10px;
	}

	#video {
		display: inline-block;
		position: relative;
		width: 100%;
		left: 0%;
		border: none;
		margin-top: 500px;
	}

	.thumbnails {
		width: auto;
		padding: 15px;
	}
}













