html, body {
	height: 100%;
}


body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	/*color: #4f83cc;*/
	color: grey;
	margin: 0;
	
}

h2 {
	display: none;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	color: grey;
}

/*tablet size needs to have start-container & initial instruction container adjusted*/

.header {
	padding: 0.5%;
	width: 100%;
	height: 40px;
	position: fixed;
	background-color: white;
}

.image-container {
	padding-top: 25%;
	height: 50%;
	background-image: url("img/grandtetonwallpaper.jpg");
	background-repeat: no-repeat;
	/*background-attachment: fixed
	/*-moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;*/
}

#container {
	width: 100%;
}

.tagline-container {
	text-align: center;
	margin: 1px;
	height: 20px;
	}

	.start-tagline {
		margin-top: 2%;
		color: white;
		text-align: center;
		font-size: 20px;
	}

.start-container {
	text-align: center;
	box-sizing: border-box;
	width:100%;
	background: white;
	display: inherit;
	font-size: 26px;
	color: grey;	
}

.initial-instructions-container {
	text-align: center;
	padding-top: 2%;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 18px;
	color: grey;
}
.getAnswersIcon {
	margin-left: 5px;
}

button{
	margin: auto;
	display: block;
	margin-top: 2%;
	width: 180px;
	border: 2px solid grey;
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background: grey;
}

button:hover {
	background-color: lightgrey;
	border-color: lightgrey;
}

#container-bot {
	color: grey;
	display: none;
}

.cleverscriptform {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	color: grey;
	}

	input.cleverscriptsubmit {
		margin-top: 10px;
		width: 75px;
		border: 2px solid grey;
		border-radius: 20px;
		font-size: 20px;
		color: white;
		background: grey;
	}

	input:hover {
		background: lightgrey;
		border-color: lightgrey;
	}

	.cleverscriptinput {
		position: relative;
		height: 30px;
		margin-top: 10%;
		margin-bottom: 5%;
		font-size: 16px;
		border: 2px solid grey;
		border-radius: 20px;
	}	

	.cleverscriptreply {
		padding: 5%;
		width: 85%;
		height: 50%;
		margin-top: 5%;
		margin-left: 8%;
		text-align: center;
		font-size: 18px;
		overflow: auto;
		box-sizing: border-box;
		border: 5px solid grey;
		border-radius: 20px;
		-moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         3px 3px 5px 6px #ccc
	}

#video {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	display: none;
}

	.thumbnails {
		display: inline-block;
		margin-top: 1%;
		height: 100px;
		width: auto;
		margin-bottom: 20px;
		border: 2px solid grey;
		border-radius: 20px;
		opacity: 0.7;
	}

	img:hover.thumbnails {
		opacity: 0.9;
	}

	.link {
		color: transparent;
		height: 0px;
	}

#bottom-tool {
	width: 100%;
	display: none;
	text-align: right;
}

#bottom-tool a {
	width: 100%;
}

a {
	color: white;
}

#bottom-tool a:hover {
	color: lightgrey;
}

/*typed.js css info*/
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
	color: white;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

/*tablet size*/
@media (max-width: 1024px) {
	
	h1 {
		font-size: 26px;
		margin: 1%;
	}

	h2 {
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.imgage-container {
		height: 40%;
	}

	.start-container {
		text-align: center;
		box-sizing: border-box;
		width:100%;
		background: white;
		display: inherit;
		font-size: 26px;
		color: grey;	
	}

	#container-bot {
		padding: 30px;
		top: 150%;
		color: grey;
		display: none;
}

	.cleverscriptform {
		margin-bottom: 0;
	}

	.cleverscriptinput {
		position: relative;
		height: 30px;
		margin-top: 20px;
		font-size: 16px;
		border: 2px solid grey;
		border-radius: 20px;
	}	

	.cleverscriptreply {
		padding: 5%;
		width: 85%;
		height: 250px;
		top: 600px;
		margin-top: 5%;
		margin-left: 8%;
		text-align: center;
		font-size: 18px;
		overflow: auto;
		box-sizing: border-box;
		border: 5px solid grey;
		border-radius: 20px;
	}

	#video {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	display: none;
}

	.thumbnails {
		display: inline-block;
		height: 60px;
		width: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 6%;
		border: 2px solid grey;
		border-radius: 20px;
		opacity: 0.7;
	}

	img:hover.thumbnails {
		opacity: 0.9;
	}

	.link {
		color: transparent;
	}

#bottom-tool {
	text-align: center;
	/*top: 120px;*/
	display: none;
	margin-top: 0px;
}

a {
	color: inherit;
}

#bottom-tool a:hover {
	color: red;
}

}

/*phone size*/
@media (max-width: 600px) {
	
	body {
		padding: 0;
	}
	
	h1 {
		font-size: 16px;
		text-align: center;
	}
	.start-tagline {
		margin-top: 50px;
		color: white;
		text-align: center;
		font-size: 16px;
	}

	.start-container {
		text-align: center;
		box-sizing: border-box;
		width:100%;
		/*height: 90%;*/
		background: white;
		display: inherit;
		font-size: 16px;
		color: grey;	
		height: 700px;
	}

	input.cleverscriptsubmit {
		margin-top: 15px;
		width: 200px;
		border: 2px solid grey;
		border-radius: 20px;
		font-size: 20px;
		color: grey;
		height: 50px;
		background: rgba(255, 255, 255, 0.4);
	}

	input:hover {
		background: darkgrey;
	}

	.cleverscriptinput {
		position: relative;
		height: 50px;
		margin-top: 20px;
		font-size: 16px;
		border: 2px solid grey;
		border-radius: 20px;
	}	

	.initial-instructions-container {
		text-align: center;
		padding-top: 10%;
		padding-left: 15%;
		padding-right: 15%;
	}

	button{
		margin: auto;
		margin-top: 3%;
		display: block;
		width: 200px;
		height: 40px;
		border: 2px solid grey;
		border-radius: 20px;
		font-size: 20px;
		color: grey;
		background: rgba(255, 255, 255, 0.4);
	}

	.cleverscriptreply {
		padding: 3%;
		width: 85%;
		height: 150px;
		top: 400px;
		margin-top: 5%;
		margin-left: 8%;
		text-align: center;
		font-size: 14px;
		overflow: auto;
		box-sizing: border-box;
		border: 5px solid grey;
		border-radius: 20px;
	}

	.thumbnails {
		display: inline-block;
		height: 60px;
		width: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 3%;
		border: 2px solid grey;
		border-radius: 20px;
		opacity: 0.7;
	}

	.bottom-tool {
		padding-bottom: 5%;
	}
}













