html, body {
	height: 100%;
}

.hidden {
	display: none;
}

body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	/*color: #4f83cc;*/
	color: grey;
	margin: 0;
	
}

h2 {
	display: none;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	color: grey;
}

.header {
	padding: 0.5%;
	width: 100%;
	height: 40px;
	position: fixed;
	background-color: white;
}

/* This is the background image container */

.image-container {
	padding-top: 25%;
	height: 50%;
	background-image: url("img/grandtetonwallpaper.jpg");
	-webkit-background-size: cover
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
}

.tagline-container {
	text-align: center;
	margin: 1px;
	height: 20px;
	}

	.start-tagline {
		margin-top: 2%;
		color: white;
		text-align: center;
		font-size: 20px;
	}

.initial-instructions-container {
	text-align: center;
	padding-top: 2%;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 18px;
	color: white;
}

.getAnswersIcon {
	margin-left: 5px;
}

button{
	margin: auto;
	display: block;
	margin-top: 2%;
	width: 180px;
	border: 2px solid grey;
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background: grey;
}

button:hover {
	background-color: lightgrey;
	border-color: lightgrey;
}

#container-bot {
	color: grey;
}

.cleverscriptform {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	color: white;
	}

	input.cleverscriptsubmit {
		margin-top: 10px;
		width: 75px;
		border: 2px solid grey;
		border-radius: 20px;
		font-size: 20px;
		color: white;
		background: grey;
	}

	input:hover {
		background: lightgrey;
		border-color: lightgrey;
	}

	.cleverscriptinput {
		position: relative;
		height: 30px;
		margin-bottom: 5%;
		font-size: 16px;
		border: 2px solid grey;
		border-radius: 20px;
	}	

	.cleverscriptreply {
		background-color: white;
		padding: 5%;
		width: 85%;
		height: 70%;
		margin-left: 8%;
		text-align: center;
		font-size: 18px;
		overflow: auto;
		box-sizing: border-box;
		border-radius: 20px;
		-moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
	}

footer {
	text-align: center;
	font-family: 'Sacramento', cursive;
	margin-right: 5%;
}

#bottom-tool a {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	color: grey;
}

#bottom-tool a:hover {
	color: lightgrey;
}

/*typed.js css info*/
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
	color: white;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.typed-fade-out{
  opacity: 0;
  animation: 0;
  transition: opacity .25s;
}

#about-container {
	background-color: white;
	margin: auto;
	padding: 5%;
	width: 85%;
	height: 50%;
	text-align: center;
	font-size: 18px;
	border-radius: 20px;
	-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
}

#logoStyle {
	width: 100px;
	margin-top: 2%;
	margin-left: 2%;
}

/*tablet size*/
@media (max-width: 1024px) {
	
	h1 {
		font-size: 26px;
		margin: 1%;
	}

	h2 {
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.image-container {
		height: 100%;
	}

	.cleverscriptreply {
		height: 50%;
		font-size: 18px;
	}

	.cleverscriptinput {
		width: 75%;
		margin-top: 25px;
	}	

	input.cleverscriptsubmit {
		margin: 25px;
		width: 150px;
		border: 2px solid white;
	}

	#bottom-tool a {	
		color: white;
	}

	#logoStyle {
		margin-top: 5%;
	}	
}

/*phone size*/
@media (max-width: 600px) {
	
	body {
		padding: 0;
	}
	
	h1 {
		font-size: 16px;
		text-align: center;
	}

	.image-container {
		height: 100%;
	}

	.cleverscriptreply {
		width: 85%;
		height: 60%;
		font-size: 18px;
	}

	input.cleverscriptsubmit {
		width: 150px;
		border: 2px solid white;
	}

	.cleverscriptinput {
		width: 85%;
		margin-top: 25px;
	}	

	#bottom-tool a {	
		color: white;
	}

	#logoStyle {
		width: 60px;
		margin-top: 2%;
		margin-left: 2%;
	}
}




